<!-- _includes/work.html -->
{% if work.display == true -%}
<div class="grid-sizer"></div>
<div class="grid-item">
    <a href="{{ work.redirect }}">
      <div class="card hoverable">
        {%- if work.img %}
        {%- include figure.html
          path=work.img
          alt="work thumbnail" -%}
        {%- endif %}
        <div class="card-body">
          <h2 class="card-position">
            <span class="font-weight-bold">{{work.position}}</span>
          </h2>
          <h5 class="card-duration">
            <span>{{work.duration}}</span>
          </h5>
          <br>
          <h6 class="card-tech">
            <span><i class="fas fa-layer-group"></i>&nbsp;&nbsp;{{work.tech}}</span>
          </h6>
          <br>
          <p class="card-description">{{ work.description }}</p>
        </div>
      </div>
    </a>
</div>
{%- endif %}